.to-top-button.text-center
            a(href="#top")
                span.glyphicon.glyphicon-menu-up
.container.grey-footer
    .row
        .col-sm-3.col-xs-4
            ul.list-unstyled
                li
                    a(href=" ") Faqs page
                li
                    a(href=" ") People Say
        .col-sm-3.col-xs-4
            ul.list-unstyled
                li
                    a(href=" ") Useful links
                li
                    a(href=" ") Partners
        .col-sm-3.col-xs-4
            ul.list-unstyled
                li
                    a(href=" ") Insurance
                li
                    a(href=" ") Family travel
        .col-sm-3.col-xs-12.contacts-column
            p Contact us
                span TEL: 
                    a(href="tel:1-800-234-5678") 1-800-234-5678
                span
                    a(href="mailto:info@demolink.org") info@demolink.org
.container.under-footer
    .row.text-center
        .col-xs-12
            a(href="#")
                i.flaticon-twitter-logo
            a(href="#")
                i.flaticon-facebook-logo
            a(href="#")
                i.flaticon-google-plus-logo
            a(href="#")
                i.flaticon-linkedin-logo
    .row.text-center
        .col-xs-12
            p Journey © 2013 | Privacy Policy | Website designed by TemplateMonster.com