header.container#top
            .row.main-menu-wrapper
                nav.main-menu
                    .logo-box.col-xs-12.text-center.col-md-2.col-md-push-5
                        a(href="#")
                            img(src="img/logo_journey.png", alt="logo")
                    ul.list-unstyled.list-inline.col-xs-12.col-md-5.col-md-pull-2.text-justify.left-menu
                        li
                            a(href="#") Home
                        li.drop-down-area
                            a(href="#") About
                            ul.list-unstyled.drop-down-menu
                                li
                                    a(href="#") Agency
                                li
                                    a(href="#") News
                                li
                                    a(href="#") Team
                        li
                            a(href="#") Gallery
                    ul.list-unstyled.list-inline.col.xs-12.col-md-5.right-menu
                        li
                            a(href="#") tours
                        li
                            a(href="#") Blog
                        li
                            a(href="#") Contacts